.App {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Gbackground{
    background-color: #282c34;
  min-height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.navbar__menu ul {
  display: flex;
  flex-direction: row;
    overflow: hidden;
    color: #0FD46B;
    background-color: #bb2f2f;
    padding-left: 0;
    margin: 0;
}

.navbar__menu li {
    width:10%;
    display: inline-block;
    padding: 1em;
    text-align:center;

}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.tweet-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.Avatars {
  width: 40px;
  height: 40px;
  padding-top: 10%;
}

.User-mini{
  border-style: ridge;
  border-color: #0FD46B;
  background-color:aqua;
  display: flex;
  flex-direction: row;
    overflow: hidden;
    padding-left: 0;
    margin: 10px;
}

.User-list{
  display: flex;
  flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin: 0;
}

.Question-list-item{
  list-style:none;
}
.Question-item{
  display: flex;
  flex-direction: row;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.question-options{
  display: flex;
  flex-direction: row;
}

.question-options button{
  size: 40%;
  margin: 5%;

}
.Author-img{
  width: 30%;
  height: 30%;
}

.button-red{
  background-color: red;
}

.button-blue{
  background-color: blue;;
}

.rankCard{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.rankCardContent{
  display: flex;
  flex-direction: row;
}


.Avatar-username{

}

#Login-view{

}

#LeaderBoard{
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#User-info{
  font-size: medium;
  text-align:justify;
  height: 40px;
  display: flex;
  flex-direction: row;
}

#User-info img{
  width: 40px;
  height: 40px;
}

#User-info p{
  margin: 0;
  padding: 0;
}

#Questions-view{
  display: flex;
  flex-direction:row;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
